/*AdminMain*/
.admin-main-content {
    position: absolute;
    margin: 50px 100px 20px 100px;
    font-size: 18px;
}
.admin-main-header {
    color: mediumblue;
}
.admin-main-grid {
    display: grid;
    grid-template-areas: 
        'item1 item2 item5 item5'
        'item3 item4 item5 item5';
    grid-template-columns: 300px 300px 400px;
    grid-template-rows: 180px 180px;
    grid-row-gap: 10px;
}
.admin-main-grid-item1 {
    grid-area: item1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.admin-main-grid-item2 {
    grid-area: item2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.admin-main-grid-item3 {
    grid-area: item3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.admin-main-grid-item4 {
    grid-area: item4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.admin-main-grid-item5 {
    grid-area: item5;
}
.admin-main-grid-button {
    padding: 10px;
    align-self: flex-start;
    border-radius: 10px;
    border: none;
    background-color: #0066cc;
    color: white;
}
.admin-main-grid-button:focus {
    outline: none;
}

/*AdminPartner*/
.admin-partner-header {
    color: mediumblue;
}
.admin-partner-content {
    position: absolute;
    margin: 20px 150px;
}
.admin-partner-detail-button {
    color: mediumblue;
    border: 2px solid mediumblue;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
}
.admin-partner-detail-button:focus {
    outline: none;
}
.admin-partner-detail-button:hover {
    color: white;
    background-color: #0066cc;
    border-color: #0066cc;
    text-decoration: none;
}

/*AdminPartnerMain*/
.admin-partner-main-header {
    color: mediumblue;
    text-align: center;
}
.admin-partner-main-content {
    position: absolute;
    margin: 20px 150px;
    display: inline-flex;
}
.admin-partner-main-left-content {
    position: relative;
}
.admin-partner-main-table {
    width: 500px;
}
.admin-partner-main-table-header {
    text-align: center;
    font-size: 20px;
}
.admin-partner-main-grid {
    display: grid;
    grid-template-columns: 210px 210px;
    grid-template-rows: 50px 50px;
    grid-column-gap: 80px;
    grid-row-gap: 15px;
    margin-top: 20px;
}
.admin-partner-main-grid-button {
    color: mediumblue;
    border: 2px solid mediumblue;
    border-radius: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
}
.admin-partner-main-grid-button:focus {
    outline: none;
}
.admin-partner-main-grid-button:hover {
    color: white;
    background-color: #0066cc;
    border-color: #0066cc;
    text-decoration: none;
}
.admin-partner-main-chart {
    width: 650px;
}
.admin-partner-return-button {
    color: mediumblue;
    font-size: 20px;
}
.admin-partner-return-button:hover {
    text-decoration: none;
}

/*AdminStation*/
.admin-station-content {
    position: absolute;
    margin: 20px 150px;
}
.admin-station-header {
    color: mediumblue;
}

/*AdminProduct*/
.admin-product-content {
    position: absolute;
    margin: 20px 150px;
}
.admin-product-header {
    color: mediumblue;
}

/*AdminBill*/
.admin-bill-content {
    position: absolute;
    margin: 20px 150px;
}
.admin-bill-header {
    color: mediumblue;
}

/*AdminContract*/
.admin-contract-content {
    position: absolute;
    margin: 20px 150px;
}
.admin-contract-header {
    color: mediumblue;
}

/*AdminPartnerDriver*/
.admin-partner-driver-content {
    position: absolute;
    margin: 20px 150px;
}
.admin-partner-driver-header {
    color: mediumblue;
}

/*AdminPartnerContract*/
.admin-partner-contract-content {
    position: absolute;
    margin: 20px 150px;
}
.admin-partner-contract-header {
    color: mediumblue;
}

/*AdminPartnerBill*/
.admin-partner-bill-content {
    position: absolute;
    margin: 20px 150px;
}
.admin-partner-bill-header {
    color: mediumblue;
}

/*ModalAdmin*/
.modal-confirm-button {
    color: mediumblue;
    border: 1.5px solid mediumblue;
    border-radius: 5px;
    padding: 5px;
}
.modal-confirm-button:focus {
    outline: none;
}
.modal-confirm-button:hover {
    background-color: #0066cc;
    color: white;
    border-color: #0066cc;
}
.modal-cancel-button {
    color: orangered;
    border: 1.5px solid orangered;
    border-radius: 5px;
    padding: 5px 10px;
}
.modal-cancel-button:focus {
    outline: none;
}
.modal-cancel-button:hover {
    background-color: orangered;
    color: white;
}

/*StationList*/
.admin-add-button {
    color: green;
    border: 2px solid green;
    border-radius: 10px;
    padding: 5px 35px;
    font-size: 18px;
}
.admin-add-button:focus {
    outline: none;
}
.admin-add-button:hover {
    background-color: green;
    color: white;
}
.admin-edit-button {
    color: mediumblue;
    border: 1.5px solid mediumblue;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
}
.admin-edit-button:focus {
    outline: none;
}
.admin-edit-button:hover {
    background-color: #0066cc;
    color: white;
    border-color: #0066cc;
}
.admin-delete-button {
    color: orangered;
    border: 1.5px solid orangered;
    border-radius: 5px;
    padding: 5px 10px;
}
.admin-delete-button:focus {
    outline: none;
}
.admin-delete-button:hover {
    background-color: orangered;
    color: white;
}

.table-center {
    text-align: center;
}

.filter-box {
    margin-right: 5px;
    border: 1.5px solid #0066cc;
    border-radius: 5px;
    padding: 5px 0px;
}
.filter-box:focus {
    outline: none;
}