.nav-bar {
    background-color: #0066cc;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
}
#logo {
    height: 50px;
    margin: -5px 0 0 0;
}
.nav-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list-content {
    display: inline-flex;
    align-items: center;
    margin: 0;
}
.nav-items {
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 18px;
}
.nav-items:hover {
    text-decoration: none;
    color: white;
    background-color: mediumblue;
}
.navbar-prop {
    color: white;
}
.list-content:last-child {
    float: right;
}