.navbar{
    background: #2C6FB2 !important;
}

.logo{
    height: 35px;
    width: auto;
}

.logout {
    color: white !important;
    font-weight: bold ;
}

.logout:hover{
    color: #F68026 !important;
   
}
.nametag{
    color: white !important;
    font-weight: bold ;
    margin-left: 50px;
    font-size: 20px
}

.nametag:hover{
    color: #F68026 !important;
}