h1 {
    color: mediumblue; 
}
.admin-partner-content {
    position: absolute;
    margin: 50px 150px;
}
.admin-table-content {
    width: 100%;
}
.admin-table-content, .admin-table-header, .admin-table-row {
    border: 1px solid black;
    padding: 10px;
}